* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.15fr 1fr 2fr;
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;

}

.navbar-container {
  background-color: #ACD7E6;
  display: flex;
  grid-column: 1/4;
  grid-row: 1/2;
  justify-content: flex-end;
  align-items: center;

}

.navbar-container > * {
  margin-right: 2%;
  padding: .2%;
}

.userprofile_container {
  border: 1px solid black;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 75%;
  margin-top: 2%;
}

.posts_container {
  border: 1px solid black;
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-rows: .75fr 4fr;
  height: 95%;
  justify-items: center;
 
}

.userprofile_container, .posts_container {
  width: 90%;
  margin-left: 5%;
}

.contacts_container {
  border: 1px solid black;
  grid-column: 2/4;
  grid-row: 2/4;
  height: 94.5%;
  margin-right: 5%;
  margin-top: 4%;
  overflow-y: auto;
  
}

.contact__info {
  text-align: center;
  margin-left: 2%;
  display: grid;
  align-content: center;
  gap: .5em;
  
}

.contact__info > * {
  font-size: .8em;
}


.contact__usercard {
 display: flex;
}

.react-creator {
  font-size: .6em;
}

.lorem {
  font-size: .4em;
}


.post {
  border: 1px solid black;
  height: min-content;
  display: grid;
  font-size: .8em;
  text-align: center;

}

.title{
  font-weight: bold;
  padding: .5em
}

.info{
  padding: 0px 0px 10px;
}


.post-header {
  font-size: 12px;
  font-weight: bold;
  margin-top: 2%;
}

.posts {
  width: 80%;
  display: grid;
  margin-bottom: 10%;
}

.contacts_container {
  display: grid;
  justify-items: center;
  grid-template-rows: .75fr 6fr;
}


.contacts {
  width: 90%;
  margin-top: 5%;
}

.contacts > * {
  border: 1px solid black;
  margin-bottom: 5%;
}

.contacts_container > h3 {
  margin-top: 5%;
}